
body{
    text-align: center;
    background-color: #8FBC8F;
    margin: 60px;
    font-family: 'Merriweather', serif;
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.btn{
    text-align: center;
    margin:1rem 0 0 0;
}
.btn button{
    background-color:#29660C;
    width:5rem;
    color:rgb(231, 231, 231);
    padding:0.8rem;
    border: 0.08rem solid black;
    border-radius: 0.3rem;
}
.btn button:hover{
    background-color: #66930C;
    cursor: pointer;

}

.links-s-l{
    margin:1rem 0 0 0;
}

/*signup*/
.signup body{
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.signup form{
    border-style:solid;
    border-width: 0.09rem;
    border-color:rgba(5, 0, 0, 0.939);
    border-radius: 1rem;
    padding: 1rem 3rem 1rem 3rem ;
    margin:0 20rem 2rem 20rem;
    background-color: rgb(255, 255, 255);
    text-align: left;
}
.signup input{
    font-size: 1rem; 
    padding:0.5rem;
    
}
.signup small{
    font-size: 15px;
    color:rgb(67, 66, 66)
}
.signup select{
    font-size: 1.5rem;
}
.signup a{
    color: rgb(32, 32, 32);
    text-decoration: none;
}
.signup a:hover{
    font-style: italic;
    color:rgba(255, 0, 76, 0.651);
    text-decoration: underline;
}
.signup a:visited{
    font-style: italic;
    color:rgb(149, 0, 62);
}

.signup small{
    color:rgb(168, 0, 0);
}
/*login*/
.login body{
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.login form{
    border-style:solid;
    border-width: 0.09rem;
    border-color:rgba(5, 0, 0, 0.939);
    border-radius: 1rem;
    padding: 1rem 3rem 1rem 3rem ;
    margin:0 20rem 2rem 20rem;
    background-color: rgb(255, 255, 255);
    text-align:left;
}
.login input{
    font-size: 20px; 
    padding:0.5rem;
    width:40rem;
    margin: 1rem 0 0.2rem 0;
    
}
.login a{
    color: rgb(32, 32, 32);
    text-decoration: none;
}
.login a:hover{
    font-style: italic;
    color:rgba(255, 0, 76, 0.651);
    text-decoration: underline;
}
.login a:visited{
    font-style: italic;
    color:rgb(149, 0, 62);
}
